html, body {
    width:100%;
    height:100%;
    margin:0px;
    padding:;
}

body{
    background-color:#FFCCFF;
}

#mainbody{
    width:1200px;
    margin:20px auto;
}

#box1, #box2, #box3{
    width:330px;
    /*max-height:540px;*/
    float:left;
    color:#FFF;
    padding:20px;
    margin:15px;
}

#box1{
    background-color:#663300;
}

#box2{
    background-color:#006600;
}

#box3{
    background-color:#b3b3b3;
}

.mobileImage{
    margin:0 auto;
    display:block;
    /*text-align:center;*/
}

/*MY MEDIA QUERIES FOR SCREEN SIZES 500PX*/
/*=====================TARGETING TABLET DEVICES=====================*/

@media screen and (max-width:1024px) {
    body{
        background-color:#0099ff;
    }
    #box1, #box2, #box3{
        width:auto;
        margin: 1% auto;
    }
    h3 {
        font-size:2em;
    }
    h4{
        font-size:1.75em;
    }
    p{
        font-size:1.25em;
    }
    
    img{
        width:90%;
    }
    
    #box3{
        /*display:none;*/
        visibility:hidden;
    }
    
    .mobileImage{
        width:90%;
    }
    
    #mainBody{
        width:100%;
        margin:20px auto;
    }
    
}
/*=====================TARGETING MOBILE PHONE DEVICES=====================*/
@media screen and (max-width:325px) {
    .mobileImage{
        width:90%;   
    }
    
    #box1, #box2, #box3{
        width:auto;
        height:auto;
        margin: 1% auto;
        
    }
    h3 {
        font-size:3em;
    }
    h4{
        font-size:1.75em;
    }
    #box3{
        display:none;
    }
}

/*=====================TARGETING WEARABLE DEVICES=====================*/
@media screen and (max-width: 100px) {
    
}