/*GLOBAL STYLES*/

/*
===================================
GLOBAL STYLES FOR NON-MOBILE SITE
===================================
*/
/** {color:#FF7900;}BE CAREFUL USING THIS GLOBAL SELECTOR. IT'S DANGEROUS!*/

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Playfair+Display|Inconsolata|Rokkitt|Abril+Fatface|Vollkorn);


html, body {
    height:100%;
    width:100%;
}

body{
    margin:0px;
    padding:0px;
    background-color:#FFFFFF;
    /*font-family:'Lucida Sans', Verdana, serif;*/
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'Playfair Display', serif;
    /*font-family: 'Rokkitt', serif;*/
    font-size:16px;
    font-weight:500;
    color:#000000;   
}

h1, h2, h3{
    margin:0px;
    padding:0px;
    color:#FFCC00; /*THIS IS LIME GREEN*/
}

h1{
    font-size:2em;
}

p{
    margin:15px 0px;
    /*font-family: 'Inconsolata', ;*/
    /*font-weight:700;*/
}

b, strong{
    color:#FFCC00;
}

a{
    color:#FFCC00;
    text-decoration:none;
}

figure{
    margin:0px;
    padding:0px;
}

hr {
    margin:25px;
}
/*HEADER STYLES*/

header{
    background-color:#F1f1f1;
    /*height:150px;*/
}

#header{
    padding:15px 0px;
    position:relative;
}

#logo {
    padding:15px;
    color:#FF7900;
}

#logo:hover{
    color:#FF0000;
    text-decoration:none;
}
/*NAVIGATION STYLES*/
#menu {
    position:absolute;
    top:40px;
    right:5%;
}

/*#menu ul {*/
/*    display:inline;*/
/*    background-color:none;*/
/*}*/

#menu li {
    display:inline;
    margin:0px 10px;
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
}

#menu li a:hover{
    color:#FF0000;
}

#menu li:after{
    content:"|";
    padding:16px 20px;
    color:rgb(141,198,63);
}

.currentPage a{
    color:#FF0000;
}

/*BANNER STYLES*/

#bannerHome{
    border-top:3px solid #FFCC00;
    padding:80px 0px;
    background:url(../images/san-francisco.jpg) no-repeat top center #336600;
    background-size:cover;
    overflow:hidden;
}

#bannerAbout{
    border-top:3px solid #FFCC00;
    padding:90px 0px;
    background:url(../images/banner-about.jpg) no-repeat top center #CC0000;
    background-size:cover;
    overflow:hidden;
}

#bannerContact{
     border-top:3px solid #FFCC00;
    padding:90px 0px;
    background:url(../images/banner-contact.jpg) no-repeat center center #CC0000;
    background-size:cover;
    overflow:hidden;
}

.bannerTitle{
    text-align:center;
    color:#FFFFFF;
    font-size:4em;
    text-shadow:6px 6px 6px #000000;
}


/*MAIN BODY SECTION*/

.mainWidth{
    width:1200px;
    margin:0px auto;/*THIS IS HOW YOU CENTER ITEMS IN CSS*/
    overflow:hidden;
}

#main {
    padding-bottom:25px;
}

/*COLUMN STYLES*/

.columnA, .columnB, .columnC {
    width:384px;
}

.columnA,.columnB{
    float:left;
    margin-right:24px;
}

.columnC{
   float:right;
}

.columnA h2, .columnB h2, .columnC h2{
    color:#FFCC00;
    font-size:2.2em;
    font-weight:900;
    text-transform:uppercase;
    text-align:center;
}

/*likeImage {/*TEMPORARY UNTIL WE HAVE AN IMAGE IN ITS PLACE
    width:384px;
    height:225px;
    background-color:#CC0000;
}*/

.likeImage span {
    display:block;
     background-color:#336600;
    font-size:2em;
    text-align:center;
    font-weight:700;
    text-decoration:none;
    text-transform:uppercase;
    padding:18px 0px;
}

.columnA p, .columnB p, .columnC p {
    text-align:justify;
    padding:0px;
}

/*BUTTON STYLES*/
a.columnButton, .columnButton{
    text-decoration:none;
    background-color:#CC0000;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    border-radius:20px 20px;
    border:4px solid;
    padding:10px 26px;
    font-weight:700;
    float:left;
}

.columnButton a{
    text-decoration:none;
}

a.columnButton:hover, .columnbutton:hover{
    text-decoration:none;
    background-color:#FF0000;
    /*border-color:#FFCC00;*/
    border-radius:20px 20px;
    border:4px solid;
    padding:10px 26px;
    /*cursor:url(../images/trollface-transparrent.png), auto;*/
}

#bioButton{
   margin:0px auto;
    width:200px;
}

    /*About Me Styles*/
.alignLeft{
    float:left;
    width:384px;
    margin-right:24px;
}


/*FOOTER STYLES*/

footer {
    clear:both;
    margin-top:26px;
}

footer p{
    text-align:center;
    font-size:18px;
}

.copyright {
    overflow:hidden;
    padding:30px 0px;
    border-top: 3px dotted #FFCC00;
    background-color:#CCCCCC;
    display:block;
}

.social{
    text-align:center;
}

.copyright p{
    text-align:center;
    font-size:1em;
}

.copyright p a{
    color:#FF0000;
    text-decoration:none;
}

.copyright p a:hover{
    color:#FFCC00;
    text-decoration:underline;
}
/*==========================TABLE STYLES==========================*/

#myData{
    width:1198px;
    margin:0px auto;
}

#myHeader > tr > th{
    color:#FFFFFF;
    background-color:#FFCC00;
    text-shadow:1px 1px 2px #000000;
    padding:10px 0px 10px 0px;
    font-size:1.3em;
}

tr:hover{
    background-color:#FFCC00;
}

/*tr th{*/
/*    background-color:#FF0000;*/
/*    color:#FFFFFF;
}*/

table{
    border-radius:6px;
    background-color:#FFE066;
    margin:20px 20px 20px 20px;
}

.lightCell{
    background-color:#FFFFFF;
}

tfoot{
    color:#000000;
    border-radius:6px;
    padding:10px 0px 10px 0px;
}

tfoot td{
    text-align:center;
    font-weight:700;
    color:#000000;
    border-radius:6px;
    padding:10px 0px 10px 0px;
}

tfoot tr{
    background-color:#FFCC00;
}

#groupData {
    width:1198px;
    margin:0px auto;
}

/*FORM STYLES*/

.label{
    color:#FF0000;
    font-weight:900;
}

form{
    background-color:#F1F1F1;
    width:25%;
    border-color:#FFCC00;
}

#form1{
    margin-bottom:40px;
}

input, textarea{
    border-radius:10px;
    border:2px solid #C3C3A2;
    /*box-shadow:3px 4px 5px #C3C3A2 inset;*/
    color:#000000;
    /*font-weight:900;*/
    display:block;
}

textarea{
    height:200px;
}

formButton:hover{
    text-decoration:none;
    background-color:#FF0000;
    /*border-color:#FFCC00;*/
    border-radius:20px 20px;
    border:4px solid;
    padding:10px 26px;
}

fieldset{
    background-color:#FFFFFF;
}

/*EXTRA STYLES*/

.fa{
    background-color:rgb(141,198,63);
    border:3px solid #FFF;
    border-radius:100%;
    font-size:2em !important;
    margin:15px;
    color:#FFF;
    height:58px;
    width:58px;
    padding:10px;
    text-align:center;
}

.fa:hover {
    background-color:#FF7900;
}

.fa-facebook{
    background-color:#0C516E;
}

.fa-twitter{
    background-color:#8CA6D9;
}

.fa-intagram{
    background-color:#125688;
}

#m7oe4eo0vn8hdf{
    border-radius:4px;
}

/*===========================AND FINALLY MEDIA QUERIES=========================== */

@media screen and (max-width:100px) {
    
    /*COLUMN SECTION STYLES*/
    .likeimage span {
        font-size:2em;
    }
    
    /*ABOUT SECTION STYLES*/
    
    .alignLeft{
        float:none;
        display:block;
        width:auto;
    }

    .alignRight{
        width:auto;
        padding:30px;
        margin:0px auto;
        font-size:3em;
    }
    
    .alignRight h2{
        font-size:3em;
        text-align:center;
    }
     
    blockquote{
        display:none;
    }
    
    /*FOOTER SECTION*/
    
    
    
    
} 


